<div class="container-fluid">
    <h1>{{post?.title}}</h1>
    <p class="font-weight-light">Created by {{post?.username}}</p>
    <p>{{post?.content}}</p>

    <div class="list-group" *ngFor="let comment of comments">
          <h6>Comment by {{comment?.userEmail}} at {{comment.creationDate}}</h6>
          <p>{{comment?.content}}</p>
          </div>
                <form #frmComment="ngForm" class="response-box" (ngSubmit)="response(frmComment)">
                    <label for="email">Write your comment below:</label>
                    <textarea rows="6" type="content" name="content" class="form-control " placeholder="Answer..."
                        id="comment" value="" ngModel required>
            </textarea>
                    <button type="submit" value="send" class="btn btn-primary">Send</button>
                </form>
    </div>