
<div class="container-fluid" >
  <br>
  <h4 class="text-center">Edit new post!</h4>
  <br>
  <form #F="ngForm" (ngSubmit)="share(F.form)">
  <div class="container">
    <input type="text" class="form-control" name=title placeholder="Post title..." ngModel required>
    <br>
    <textarea class="form-control rounded-5" name="content" placeholder="Write something here..." rows="10" ngModel required ></textarea>
    <br>
    <div class="form-group">
        <select class="custom-select" name=index ngModel required>
          <option *ngFor="let topic of topics; index as i" value="{{i}}">{{topic?.title}}</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>